<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustResize"
        android:theme="@style/Theme.TyranorNext">
        <activity
            android:name=".ui.pages.VndbCoverActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.SaveManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.KrkrOnlinePatchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.EngineSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.PerGameSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.AppSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 外部显式跳转（upstream#28）：tyranor://launch?path=<游戏目录>&engine=<可选>&launchFile=<可选> -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tyranor" android:host="launch" />
            </intent-filter>
        </activity>
    </application>

</manifest>
